@import url(./__text/sales__text.css);
@import url(./__title/sales__title.css);

.sales {
    text-align: center;
    border-bottom: 1px gray solid;
}

@media screen and (max-width:768px) {
    .sales {
        border: none;
        padding-top: 110px;
    }
}