.intro__title {
    font-size: 56px;
    padding: 0 280px 0;
    margin: auto;
}

@media screen and (max-width:1040px) {
    .intro__title {
        padding: 0 200px 0;
    }
}

@media screen and (max-width:768px) {
    .intro__title {
        padding: 0 50px 0;
    }
}

@media screen and (max-width:580px) {
    .intro__title {
        padding: 0;
        font-size: 28px;
    }
}