@import url(./__contact/header__contact.css);
@import url(./__logo/header__logo.css);
@import url(./__menu-items/header__menu-items.css);
@import url(./__menu-link/header__menu-link.css);
@import url(./__menu-list/header__menu-list.css);
@import url(./__menu/header__menu.css);
@import url(./__social-icon/header__social-icon.css);
@import url(./__social-items/header__social-items.css);
@import url(./__social-list/header__social-list.css);
@import url(./__social-menu/header__social-menu.css);

.header {
    display: grid;
    grid-template-areas: 
        "social logo contact"
        "menu menu menu";
    grid-template-rows: 95px 60px;
    padding: 0 40px;
}

@media screen and (max-width:768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 990;
        background-color: #fff;
        width: 100%;
        padding: 0;
        grid-template-rows: none;
    }
}

@media screen and (max-width:400px) {
    .header {
        grid-template-areas: 
        "social logo"
        "menu menu";
    }
}