<<<<<<< HEAD
.places {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    justify-content: center;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
=======
.places {
    display: grid;
    grid-template-columns: repeat(2,560px);
    grid-column-gap: 100px;
    justify-content: center;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
>>>>>>> 3b9b6e630cccbeeffe7de5ed953bd6ad5347315f
}