.cover__title {
    font-weight: 700;
    font-size: 102px;
    line-height: 1.17;
    letter-spacing: .5px;
    padding-top: 195px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 115px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        max-width: 288px;
        line-height: 1.09;
        font-size: 32px;
        padding-top: 33px;
    }
}