.header__social-menu {
    grid-area: social;
    align-self: center;
    justify-self: start;
}

@media screen and (max-width:400px) {
    .header__social-menu {
        justify-self: center;
    }
}