@keyframes up {
    from {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    to {transform: translateY(-20px);}
}

.up {
    margin: 0;
    background-image: url(./images/up-arrow.svg);
    color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 4;
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
}

.up:hover {
    animation: up 0.7s ease-in-out alternate infinite;;
}

@media screen and (max-width:768px) {
    .up {
        display: none;
    }
}