@import url(./__size/root__size_l.css);
@import url(./__size/root__size_m.css);
@import url(./__size/root__size_s.css);

.root {
    font-family: 'Playfair Display';
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    color: #2f2f31;
    white-space: nowrap;
}